/**
 *
 * Estilização do formulário de login
 * @author Edy Segura
 *
 */

* {
	margin:0;
	padding:0;
	font:normal 12px Verdana;
} 

body {
	background:#1D3980 url(images/bg-fundo.png) repeat-x;
}

fieldset {
	border:none;
	margin:160px auto 0;
	width:280px;
	padding-right:12px;
}

legend {
	background:url("images/bg-legend.png") no-repeat scroll right center transparent;
	height:82px;
	margin:0 0 30px;
	text-indent:-999px;
	width:257px;
}

label {
	clear:both;
	display:block;
	float:right;
	font-size:12px;
	font-weight:bold;
	margin-bottom:10px;
	color:#555;
}

input {
	background:#fff;
	border:1px solid #1D3980;
	width:170px;
	color:#555;
	padding:4px;
	-moz-border-radius:4px 4px 4px 4px;
}


input:hover {
	border:1px solid #555 !important;
}

input.user {
	background:url("images/input-user.png") no-repeat scroll 2px center #FFFFFF;
	padding-left:25px;
}

input.pass {
	background:url("images/input-pass.png") no-repeat scroll 2px center #FFFFFF;
	padding-left:25px;
}

input.button {
	background:url("images/degrade.gif") repeat-x scroll center top #385585;
	border:1px solid #385585;
	color:#FFF;
	display:block;
	float:right;
	font-weight:bold;
	margin:0 auto;
	padding:3px;
	width:70px;
}

input.button:hover {
	cursor:pointer;
}

p.download {
	text-align: right;
	padding-bottom: 5px;
}
